<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>

	<appSettings>
		
		<add key="AppName" value="TheMealDb"/>
		
		<add key="CategoriesUrl" value="https://www.themealdb.com/api/json/v1/1/categories.php"/>
		
		<add key="MealsUrl" value="https://www.themealdb.com/api/json/v1/1/filter.php?c="/>
		
		<add key="singleMealUrl" value="https://www.themealdb.com/api/json/v1/1/search.php?s="/>
		
		<add key="IngredientThumbUrl" value="https://www.themealdb.com/images/ingredients/"/>
		
		<add key="IngThumbsExtentions" value="png"/>
		
	</appSettings>
</configuration>